html
  body
    .row
      .col-xs-1(style='margin-top:.6em')
        button#start.btn.btn-default.btn-xs(type='button', aria-label='Left Align')
          i.glyphicon.glyphicon-record 
          | #{' '}Record
      .col-xs-1(style='margin-top:.6em')
        button#stop.btn.btn-default.btn-xs(type='button', aria-label='Left Align')
          i.glyphicon.glyphicon-stop 
          | #{' '}Stop
      .col-xs-1(style='margin-top:.6em')
        button#clear.btn.btn-default.btn-xs(type='button', aria-label='Left Align')
          i.glyphicon.glyphicon-erase 
          | #{' '}Reset
      .col-xs-2(style='margin-top:.6em')
        button#detect.btn.btn-default.btn-xs(type='button', aria-label='Left Align')
          i.glyphicon.glyphicon-equalizer 
          | #{' '}Detect Libraries
      .col-xs-1(style='margin-top:.6em')
        button#trace.btn.btn-default.btn-xs(type='button', aria-label='Left Align')
          i.glyphicon.glyphicon-road
          | #{' '}Trace JS
      .col-xs-2
    .row
      #libResults.col-xs-12(style="display: none;")
        h4
          | Libraries Detected
        ul#libResults
    .row
      .col-xs-12
        span#tagTitle(style="margin-left: .5em;")
    .row.no-left
      .col-xs-12
        table.display(cellspacing='0')
          thead
            tr
              th DOM Path
              th Selector
              th Name
              th Old Value
              th Type

              // <th>Target</th>
              // <th>Previous Sibling</th>
              // <th>Next Sibling</th>
          tbody#mutationWrapper
